body{background-color:black
}
h1 {
    text-align: center;
    color: rgb(21, 255, 0);
    font-family: cursive;
    font-size:200%;
}
h2{
    text-align: center;
    color:rgb(21, 255, 0)
}
h3{
    text-align: center;
    color:rgb(21, 255, 0)
}

p{ 
    text-align: center;
    color:blue
}
ul{
    text-align:center;
    color:blue}

.box1{
    background-color: blue;
    border:rgb(21, 255, 0)
    
}

img{
    align-self: auto
}